@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1800px;
}

:root {
  /*Technologies colors*/
  --color-api: #10b981;
  --color-clsx: #237bdf;
  --color-css: #1572b6;
  --color-focus_trap_react: #237bdf;
  --color-git_hub: #181717;
  --color-git_hub_actions: #2088ff;
  --color-html: #e34f26;
  --color-jest: #99425b;
  --color-nextjs: #000000;
  --color-react: #61dafb;
  --color-react_testing_library: #e93737;
  --color-redux_toolkit: #764abc;
  --color-tailwind_css: #38bdf8;
  --color-typescript: #3178c6;
}

body {
  font-family: var(--font-inter), sans-serif;
}
